<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.neo.mapper.IndividualtrangleMapper" >
    <insert id="insertTrangle" parameterType="Map">
        insert into individualtrangle
        (individualid,D1,D2,M1,M2,Y1,Y2,Y3,Y4,A1,
    A2,A3,A4,B1,B2,C1,E1,E2,E3,F1,F2,F3,G1,G2,H1)

    values(
     #{individualid},
    #{D1},
    #{D2},
    #{M1},
    #{M2},
    #{Y1},
    #{Y2},
    #{Y3},
    #{Y4},
    #{A1},
    #{A2},
    #{A3},
    #{A4},
    #{B1},
    #{B2},
    #{C1},
    #{E1},
    #{E2},
    #{E3},
    #{F1},
    #{F2},
    #{F3},
    #{G1},
    #{G2},
    #{H1}
    )
    </insert>

    <insert id="insertTalentcode" parameterType="Map">
        INSERT INTO `talentcode_test`.`individualtalentcode`
        (`individualId`,
        `TC_I_1`,
        `TC_I_2`,
        `TC_I_3`,
        `TC_L_1`,
        `TC_L_2`,
        `TC_L_3`,
        `TC_U_1`,
        `TC_U_2`,
        `TC_U_3`,
        `TC_R_1`,
        `TC_R_2`,
        `TC_R_3`)
        VALUES
        (#{individualid},
        #{TC_I_1},
        #{TC_I_2},
        #{TC_I_3},
        #{TC_L_1},
        #{TC_L_2},
        #{TC_L_3},
        #{TC_U_1},
        #{TC_U_2},
        #{TC_U_3},
        #{TC_R_1},
        #{TC_R_2},
        #{TC_R_3}
    )
    </insert>

    <insert id="insertIndividual" parameterType="Map">
        INSERT INTO individual (userid,name,gender,relationshipid,dateofbirth,created_at)
        VALUES(#{userid},
        #{name},
        #{gender},
        #{relationshipid},
        #{dateofbirth},
        now()
        )
    </insert>

    <insert id="insertUser" parameterType="Map">
        INSERT INTO user (nickname,openId,wxId)
        VALUES(#{nickname},
        #{openId},
        #{wxId}
        )
    </insert>
</mapper>